* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

.container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  top: 25vh;
  left: 65vh; */
  padding: 25vh;
}

.tot-box {
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.box-1 {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  padding: 4vh 4vh;
  width: fit-content;
  border-radius: 20px;
}
.box-head {
  color: hsl(221, 100%, 96%);
  font-weight: 600;
}
.box-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-cir {
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  padding: 4vh 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
.stats-cir p {
  font-size: 1.7vh;
  font-weight: 600;
}

.box-1 h1 {
  color: hsl(0, 0%, 100%);
  font-size: 6vh;
  font-weight: 700;
}
.box-1 h2 {
  color: hsl(0, 0%, 100%);
  font-size: 3.2vh;
  margin-bottom: 10px;
}
.box-1 p {
  color: hsl(241, 100%, 89%);
  text-align: center;
  font-weight: 600;
}

.tot-box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 2vh 4vh;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.box-2 {
  background-color: white;
}

.box-head-2 {
  font-weight: 600;
}

.stat-num {
  display: flex;
  font-weight: 600;
}
.stat-num p {
  opacity: 0.6;
}

.stat-head {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.box-stats-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.box-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8vh;
  background-color: hsl(6, 100%, 98%);
  padding: 2vh 3vh;
  border-radius: 10px;
}

.tot-box-2 button {
  background-color: hsl(224, 30%, 27%);
  color: white;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  padding: 1.2vh;
  font-weight: 600;
}

@media (max-width: 500px) {
  .container {
    position: static;
    padding: 0;
    flex-direction: column;
  }
  .box-1 {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tot-box {
    justify-content: center;
    width: 80%;
  }
  .box-2{
    width: 100%;
  }
}
